<style>
    project-case-table {
        width: 100%;
        display: table;
        align-items: center;
        font: 13px/23px globerbold;
        width: 100%;
        border-collapse: collapse;
    }

    .project-case-table__caption {
        height: 35px;
        border-bottom: 1px solid #E4E4E4;
        display: table-row;
    }

    .project-case-table__td {
        display: table-cell;
        min-width: 20px;
        padding: 8px 0 0;
    }
</style>
<template id="project-case-table__tmpl">

</template>

<script>
    "use strict";
    var thatDoc = document;
    var thisDoc = (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;

    var ProjectCaseTableTemplate = thisDoc.querySelector('#project-case-table__tmpl');

    class ProjectCaseTable extends HTMLElement {

        constructor() {
            super();
        }

        connectedCallback() {
            this.insertBefore(ProjectCaseTableTemplate.content.cloneNode(true), this.firstChild);

            var tableAttr = this.attributes;
            var row = thisDoc.createElement("div");
            row.setAttribute('class', 'project-case-table__caption');
            thatDoc.querySelector('project-case-table').insertBefore(row, this.firstChild);
            for (var i = 0; i < tableAttr.length; i++) {
                var element = thatDoc.createElement("div");
                element.setAttribute("class", "project-case-table__td");
                element.innerHTML = tableAttr[i].nodeValue;
                this.querySelector('.project-case-table__caption').appendChild(element);

            }
        }



        adoptedCallback() {}
    }

    customElements.define('project-case-table', ProjectCaseTable);
</script>
