<style>
    project-case-table {
        width: 100%;
        display: flex;
        align-items: center;
        font: 13px/23px globerbold;
    }
    .project-case-table__caption{
        height: 35px;
        border-bottom: 1px solid #E4E4E4;
        display: table-row;
    }
    project-case-table table {
        width: 100%;
        border-collapse: collapse;
    }
    .project-case-table__caption td {
        min-width: 20px;
    }
</style>  
<template id="project-case-table__tmpl">
    <table>
        <tr class="project-case-table__caption"></tr>
    </table>
</template>

<script>
    "use strict";
    var thatDoc = document;
    var thisDoc = (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;

    var ProjectCaseTableTemplate = thisDoc.querySelector('#project-case-table__tmpl');

    class ProjectCaseTable extends HTMLElement {

        constructor() {
            super()
            this.insertBefore(ProjectCaseTableTemplate.content.cloneNode(true), this.firstChild);
            var tableAttr = this.attributes;
            for (var i = 0; i < tableAttr.length;  i++) {
                var element = thatDoc.createElement("td");
                element.innerHTML = tableAttr[i].nodeValue;
                this.querySelector('.project-case-table__caption').appendChild(element);

            }
        }

        connectedCallback() {

        }

        

        adoptedCallback() {
        }
    }

    customElements.define('project-case-table', ProjectCaseTable);

</script>