<link rel="import" href="blocker-choosen.component.html">
<link rel="import" href="blocker-person.component.html">

<!--Style CSS-->
<style>
    blocker-wrapp {
        width: 100%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        margin-top: auto
    }
</style>


<!--Template-->
<template id="blocker-wrapp__tmpl">

</template>


<!--Script-->
<script>
    "use strict";
    var thatDoc = document;
    var thisDoc = (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;

    var BlockerWrappTemplate = thisDoc.querySelector('#blocker-wrapp__tmpl');

    class BlockerWrapp extends HTMLElement {

        constructor() {
            super()
            this.appendChild(BlockerWrappTemplate.content.cloneNode(true));
        }

        connectedCallback() {

        }

        adoptedCallback() {

        }
    }

    customElements.define('blocker-wrapp', BlockerWrapp);

</script>
