<!--Style CSS-->
<style>
    requirement-column-parent {
        width: 320px;
        /*    height: 100%;*/
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        padding-right: 10px;
        padding-left: 10px;
        border-right: 1px solid #D7D7D7;;
        border-bottom: 1px solid #D7D7D7;;
        position: relative;
        padding-bottom: 27px;
    }
    .plus--right {
        display: -webkit-inline-flex;
        display: -moz-inline-flex;
        display: -ms-inline-flex;
        display: -o-inline-flex;
        display: inline-flex;
        width: 14px;
        height: 14px;
        border: 1px solid #0085BE;
        border-radius: 50%;
        -ms-align-self: center;
        align-self: center;
        position: absolute;
        right: -20px;
        top: 50%;
        margin-top: -7px;
        /*opacity: 0.3;*/
        display: none;
    }
    .plus--down {
        display: -webkit-inline-flex;
        display: -moz-inline-flex;
        display: -ms-inline-flex;
        display: -o-inline-flex;
        display: inline-flex;
        width: 14px;
        height: 14px;
        border: 1px solid #0085BE;
        border-radius: 50%;
        left: 50%;
        margin-left: -7px;
        -ms-align-self: center;
        align-self: center;
        position: absolute;
        bottom: 7px;
        display: none;
        /*opacity: 0.3;*/
    }
    .plus--down:hover,
    .plus--right:hover {
        cursor: pointer;
        opacity: 1;
        transition: all 1s;
    }
    .plus--line {
        width: 2px;
        height: 8px;
        background-color: #154B85;
        position: absolute;

    }
    .plus--line:first-child {
        left: 50%;
        margin-left: -1px;
        top: 50%;
        margin-top: -4px;
    }
    .plus--line:last-child {
        left: 50%;
        margin-left: -1px;
        top: 50%;
        margin-top: -4px;
        transform: rotate(90deg);
    }


</style>


<!--Template-->
<template id="requirement-column-parent__tmpl">

<div class="plus--down">
    <span class="plus--line"></span>
    <span class="plus--line"></span>
</div>
<div class="plus--right">
    <span class="plus--line"></span>
    <span class="plus--line"></span>
</div>
</template>


<!--Script-->
<script>
    "use strict";
    var thatDoc = document;
    var thisDoc = (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;

    var RequirementColumnParentTemplate = thisDoc.querySelector('#requirement-column-parent__tmpl');

    class RequirementColumnParent extends HTMLElement {

        constructor() {
            super();
        }

        connectedCallback() {
            this.appendChild(RequirementColumnParentTemplate.content.cloneNode(true));
            let plusDownBtn = this.querySelector('.plus--down');
            let plusRightBtn = this.querySelector('.plus--right');
            // console.log(this.querySelector('.plus--down'))
            plusDownBtn.addEventListener("click", () => {
                let addedDown = plusRightBtn.parentElement.parentElement.parentElement;
                let nextWrapp = new RequirementColumnWrapp;
                nextWrapp.appendChild(new RequirementColumnParent()).appendChild(new FeatureCard());
                nextWrapp.appendChild(new RequirementColumnChild());
                addedDown.appendChild(nextWrapp);
            });
             plusRightBtn.addEventListener("click", () => {
                let addedRight = plusRightBtn.parentElement.parentElement.children[1];
                let nextWrapp = thatDoc.createElement('requirement-column-wrapp');
                nextWrapp.appendChild(new RequirementColumnParent()).appendChild(new FeatureCard());
                nextWrapp.appendChild(new RequirementColumnChild());
                addedRight.appendChild(nextWrapp);
                plusRightBtn.parentElement.parentElement.setAttribute('last', 'false');
            });
        }

        adoptedCallback() {

        }
    }

    customElements.define('requirement-column-parent', RequirementColumnParent);

</script>
