<!--Style CSS-->
<style>
    requirement-column-child {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        min-width: 320px;
    }

</style>


<!--Template-->
<template id="requirement-column-child__tmpl">

</template>


<!--Script-->
<script>
    "use strict";
    var thatDoc = document;
    var thisDoc = (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;

    var RequirementColumnChildTemplate = thisDoc.querySelector('#requirement-column-child__tmpl');

    class RequirementColumnChild extends HTMLElement {

        constructor() {
            super();
        }

        connectedCallback() {
            this.appendChild(RequirementColumnChildTemplate.content.cloneNode(true));
            // console.log(this.style.width);
           
        }

        adoptedCallback() {

        }
    }

    customElements.define('requirement-column-child', RequirementColumnChild);

</script>
