<link rel="import" href="navbar-horizontal-project.component.html">
<link rel="import" href="navbar-horizontal-search-input.component.html">
<link rel="import" href="navbar-horizontal-breadcrumbs.component.html">
<link rel="import" href="navbar-horizontal-bars.component.html">
<!--Style CSS -->
<style>

    navbar-horizontal {
        height: 64px;
        padding-left: 12px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        border-top: 1px solid #eee;
        align-items: center;
        padding-right: 25px;
    }
    .navbar-horizontal__cube {
        width: 31px;
        height: 34px;
        margin-left: 14px;
        margin-right: 33px;
        display: inline-block;
        background-image: url(navbar-img/navbar-cube.png);
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center center;
        order: -99;
    }
</style>


<!--Template-->
<template id="navbar-horizontal__tmpl">
    <navbar-bars></navbar-bars>
    <div class="navbar-horizontal__cube"></div>
</template>


<!--Script-->
<script>

    "use strict";
    var thatDoc = document;
    var thisDoc = (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;

    var NavbarHorizontalTemplate = thisDoc.querySelector('#navbar-horizontal__tmpl');
    var NavbarHorizontalTemplateClone = NavbarHorizontalTemplate.content;

    class NavbarHorizontal extends HTMLElement {

        constructor() {
            super();
        }

        connectedCallback() {
            this.appendChild(NavbarHorizontalTemplate.content.cloneNode(true));

        }

        adoptedCallback() {

        }
    }

    customElements.define('navbar-horizontal', NavbarHorizontal);


</script>
