<link rel="import" href="navbar-vartical-item.component.html">
<!--Style CSS -->
<style>

    navbar-vertical {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        width: 40px;
        background-color: #0C003B;
        flex-direction: column;
        align-items: center;
    }

</style>


<!--Template-->
<template id="navbar-vertical__tmpl">

</template>


<!--Script-->
<script>

    "use strict";
    var thatDoc = document;
    var thisDoc = (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;

    var NavbarVerticalTemplate = thisDoc.querySelector('#navbar-vertical__tmpl');
    var NavbarVerticalTemplateClone = NavbarVerticalTemplate.content;

    class NavbarVertical extends HTMLElement {

        constructor() {
            super();
        }

        connectedCallback() {
            this.appendChild(NavbarVerticalTemplate.content.cloneNode(true));
        }

        adoptedCallback() {

        }
    }

    customElements.define('navbar-vertical', NavbarVertical);


</script>
