<link rel="import" href="navbar-horizontal-search-btn.component.html">
<!--Style CSS-->
<style>
    navbar-search-input {
        display: inline-block;
        width: 305px;
        height: 27px;
        position: relative;
        margin-left: auto;
    }
    .navbar-search {
        border: 1px solid #E1E1E1;
        line-height: 27px;
        font: 13px 'globerregular';
        height: 100%;
        width: 100%;
        padding-left: 8px;
        padding-top: 6px;
        padding-right: 50px;
    }
    .navbar-search__select {
        position: absolute;
        width: 5px;
        height: 4px;
        top: 50%;
        margin-top: -2px;
        right: 35px;
        background-image: url(navbar-img/navbar-search-select.png);
        background-position: center center;
        -webkit-background-size: cover;
        background-size: cover;
    }
</style>


<!--Template-->
<template id="navbar-horizontal-search-input__tmpl">
    <input type="text" name="" class="navbar-search" placeholder="#bug">
    <span class="navbar-search__select"></span>
</template>


<!--Script-->
<script>
    "use strict";
    var thatDoc = document;
    var thisDoc = (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;

    var NavbarSearchInputTemplate = thisDoc.querySelector('#navbar-horizontal-search-input__tmpl');

    class NavbarSearchInput extends HTMLElement {

        constructor() {
            super();
        }

        connectedCallback() {
            this.appendChild(NavbarSearchInputTemplate.content.cloneNode(true));

//            this.querySelector('.sidebar-textinput__header').innerHTML = this.getAttribute('title');
//            if (this.getAttribute('placeholder') != null) {
//                this.querySelector('.sidebar-textinput__text').setAttribute('placeholder', this.getAttribute('placeholder'));
//            }
        }

        adoptedCallback() {}

    }

    customElements.define('navbar-search-input', NavbarSearchInput);

</script>
