<!--Style CSS -->
<style>
    navbar-vertical-item {
        display: inline-block;
        width: 100%;
        margin-top: 20px;
    }
    .navbar-vertical__item {
        font: 12px 'globerbold';
        color: #fff;
        transform: rotate(-180deg);
        width: 40px;
/*        display: inline-block;*/
/*        line-height: 40px;*/
        text-transform: uppercase;
        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
    }
    .navbar-vertical__item:hover {
        color: #68C0FF;
        cursor: pointer;
    }

    navbar-vertical-item[enable]>.navbar-vertical__item {
        color: #68C0FF;
        cursor: pointer;
    }
</style>


<!--Template-->
<template id="navbar-vertical-item__tmpl">
    <li class="navbar-vertical__item"></li>
</template>


<!--Script-->
<script>

    "use strict";
    var thatDoc = document;
    var thisDoc = (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;

    var NavbarVerticalItemTemplate = thisDoc.querySelector('#navbar-vertical-item__tmpl');
    var NavbarVerticalItemTemplateClone = NavbarVerticalItemTemplate.content;

    class NavbarVerticalItem extends HTMLElement {

        static get observedAttributes() {
            return ['enable'];
        }
        get enable() {
            return this.hasAttribute('enable');
        }
        set enable(val) {
            if(val) {
                this.setAttribute('enable', '')
            } else {
                this.removeAttribute('enable')
            }
        }

        constructor() {
            super()
            this.appendChild(NavbarVerticalItemTemplate.content.cloneNode(true));
        }

        connectedCallback() {
            this.querySelector('.navbar-vertical__item').innerHTML = this.getAttribute('title');
            var SidebarHeaderCollect = thatDoc.querySelectorAll('sidebar-header');

            if (this.enable) {

            } else {
                for (var i = 0; i < SidebarHeaderCollect.length; i++) {

                    if (this.textContent.toLowerCase().trim() == SidebarHeaderCollect[i].querySelector('h3').textContent.toLowerCase().trim()) {
                        if (SidebarHeaderCollect[i].parentElement.style.display == 'none') {
                            SidebarHeaderCollect[i].parentElement.style.display = 'block';
                        } else {
                            SidebarHeaderCollect[i].parentElement.style.display = 'none';
                        }
                    }
                }
            }

            this.addEventListener("click", () => {

                if (this.enable) {
                    this.removeAttribute('enable');
                } else {
                    this.setAttribute('enable', '');
                }

                for (var i = 0; i < SidebarHeaderCollect.length; i++) {

                    if (this.textContent.toLowerCase().trim() == SidebarHeaderCollect[i].querySelector('h3').textContent.toLowerCase().trim()) {
                        if (SidebarHeaderCollect[i].parentElement.style.display == 'none') {
                            SidebarHeaderCollect[i].parentElement.style.display = 'block';
                        } else {
                            SidebarHeaderCollect[i].parentElement.style.display = 'none';
                        }
                    }
                }
            });

        }

        attributeChangedCallback(name, oldVal, newVal) {
        }

        adoptedCallback() {}
    }

    customElements.define('navbar-vertical-item', NavbarVerticalItem);


</script>
