<link rel="import" href="feature-card-header.component.html">
<link rel="import" href="feature-card-footer.component.html">
<link rel="import" href="card-text.component.html">
<!--Style CSS -->
<style>
    feature-card {
        width: 100%;
        border: 1px solid #E8E8E8;
        border-left: 2px solid #FF2D55;
        margin-top: 25px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }
</style>


<!--Template-->
<template id="feature-card__tmpl">

</template>


<!--Script-->
<script>

    "use strict";
    var thatDoc = document;
    var thisDoc = (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;

    var FeatureCardTemplate = thisDoc.querySelector('#feature-card__tmpl');
    var FeatureCardTemplateClone = FeatureCardTemplate.content;

    class FeatureCard extends HTMLElement {

        constructor() {
            super()
            this.appendChild(FeatureCardTemplate.content.cloneNode(true));
        }

        connectedCallback() {

        }

        adoptedCallback() {

        }
    }

    customElements.define('feature-card', FeatureCard);

</script>
