<!--Style CSS -->
<style>
    requirement-card-footer {
        height: 27px;
        width: 100%; 
        border-top: 1px solid #F4F4F4;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        padding-left: 15px;
        align-items: center;
    }
    .requirement-card--footer__more {
        margin-right: 11px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        width: 11px;
        justify-content: space-between;
    }
    .requirement-card--footer__more--dot {
        width: 2px;
        height: 2px;
        border-radius: 50%;
        margin-right: 1px;
        background-color: #000;
    }
    .requirement-card--footer__balls {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        max-width: 82%;
    }
    .requirement-card--footer__ball {
        display: inline-block;
        height: 12px;
        width: 12px;
        text-align: center;
        font: 10px 'globerbold';
        border-radius: 50%;
        background-color: #89b46a;
        line-height: 15.5px;
        margin-right: 6px;
    }
</style>


<!--Template-->
<template id="requirement-card--footer__tmpl">
    <span class="requirement-card--footer__more">
        <span class="requirement-card--footer__more--dot"></span>
        <span class="requirement-card--footer__more--dot"></span>
        <span class="requirement-card--footer__more--dot"></span>
    </span>
    <div class="requirement-card--footer__balls">
        <div class="requirement-card--footer__ball">8</div>
        <div class="requirement-card--footer__ball">21</div>
        <div class="requirement-card--footer__ball">21</div>
        <div class="requirement-card--footer__ball">34</div>
        <div class="requirement-card--footer__ball">3</div>
    </div>
</template>


<!--Script-->
<script>

    "use strict";
    var thatDoc = document;
    var thisDoc = (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;

    var RequirementCardFooterTemplate = thisDoc.querySelector('#requirement-card--footer__tmpl');
    var RequirementCardFooterTemplateClone = RequirementCardFooterTemplate.content;

    class RequirementCardFooter extends HTMLElement {

        constructor() {
            super()
            this.appendChild(RequirementCardFooterTemplate.content.cloneNode(true));
        }

        connectedCallback() {
//            this.querySelector('.requirement-card--header__name').innerHTML = this.getAttribute('title');
//            var innerInputText = this.querySelector('.requirement-card-description');
        }

        adoptedCallback() {

        }
    }

    customElements.define('requirement-card-footer', RequirementCardFooter);

</script>
