

     <!-- Стили и сам компонент находится в template -->

  <template  id="project-case__tmpl">
    <style>
       project-case {
        font-family: globerregular;
        display: block;
        clear: both;
        line-height: 24px;
        overflow: hidden;
    }
    
    .project-case__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 71px;
        white-space: nowrap;
        padding: 0 20px;
        border-bottom: 1px solid #D4DDE5;
    }
    
    .project-case__item {
        width: auto;
    }
    
    .project-case__item--link {
        cursor: pointer;
        background: url(img/arrow.png);
        height: 9px;
        width: 18px;
        background-size: cover;
        margin-top: -6px;
    }
    
    .project-case__item--name {
        font-size: 16px;
        padding: 0 20px;
    }
    
    .project-case__propertie {
        padding: 0 20px;
        display: table-cell;
    }
    
    .project-case__propertie-span1 {
        display: block;
        color: #A9A9A9;
        font-size: 13px;
        text-align: left;
    }
    
    .project-case__propertie-span1 {
        display: block;
        text-align: left;
    }
    
    .project-case__item--progress {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
    }
    
    .project-case__item--progress div {
        min-width: 30px;
        margin: 0 4px;
        padding-top: 2px;
    }
    
    div.project-case__progress-line {
        height: 23px;
        padding: 0;
        width: 170px;
        background-color: #E7E7E7;
    }
    </style>


    <h3>hello</h3>
    <slot></slot>
    
    <div class="project-case__header">
        <div class="project-case__item project-case__item--link"></div>
        <div class="project-case__item project-case__item--name"></div>
        <div class="project-case__item project-case__item--properties"></div>
        <div class="project-case__item project-case__item--progress">


            <div class="project-case__progress-line">   
                <div class="project-case__progress-wait"></div>
                <div class="project-case__progress-pass"></div>
                <div class="project-case__progress-failed"></div>
                <div class="project-case__progress-blocked">ы</div>
            </div> 

            <div class="project-case__to-do-val">Текст</div>

        </div>
    </div>
  </template>



<!--    ########################################################
        ###### СРИПТ НУЖНО СГЕНЕРИРОВАТЬ С ПОМОЩЬЮ Babel #######
        ########################################################    -->
    


  <script>
  "use strict";

var _createClass = function () { function defineProperties(target, props) { for (var i = 0; i < props.length; i++) { var descriptor = props[i]; descriptor.enumerable = descriptor.enumerable || false; descriptor.configurable = true; if ("value" in descriptor) descriptor.writable = true; Object.defineProperty(target, descriptor.key, descriptor); } } return function (Constructor, protoProps, staticProps) { if (protoProps) defineProperties(Constructor.prototype, protoProps); if (staticProps) defineProperties(Constructor, staticProps); return Constructor; }; }();

function _classCallCheck(instance, Constructor) { if (!(instance instanceof Constructor)) { throw new TypeError("Cannot call a class as a function"); } }

function _possibleConstructorReturn(self, call) { if (!self) { throw new ReferenceError("this hasn't been initialised - super() hasn't been called"); } return call && (typeof call === "object" || typeof call === "function") ? call : self; }

function _inherits(subClass, superClass) { if (typeof superClass !== "function" && superClass !== null) { throw new TypeError("Super expression must either be null or a function, not " + typeof superClass); } subClass.prototype = Object.create(superClass && superClass.prototype, { constructor: { value: subClass, enumerable: false, writable: true, configurable: true } }); if (superClass) Object.setPrototypeOf ? Object.setPrototypeOf(subClass, superClass) : subClass.__proto__ = superClass; }

var thatDoc = document;
var thisDoc = (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;

var ProjectCaseTemplate = thisDoc.querySelector('#project-case__tmpl');

var ProjectCase = function (_HTMLElement) {
    _inherits(ProjectCase, _HTMLElement);

    function ProjectCase() {
        _classCallCheck(this, ProjectCase);

        return _possibleConstructorReturn(this, (ProjectCase.__proto__ || Object.getPrototypeOf(ProjectCase)).call(this));
    }

    _createClass(ProjectCase, [{
        key: 'connectedCallback',
        value: function connectedCallback() {
            // this.insertBefore(ProjectCaseTemplate.content.cloneNode(true), this.firstChild);

            var root = this.attachShadow({ mode: 'open', delegatesFocus: true });
            root.innerHTML = ProjectCaseTemplate.innerHTML;

        }
    }, {
        key: 'adoptedCallback',
        value: function adoptedCallback() {}
    }]);

    return ProjectCase;
}(HTMLElement);

customElements.define('project-case', ProjectCase);

  </script>