<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Web Components</title>

	<script src="../../bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
	<!-- Выше стандартая библиотека для веб-компонентов -->
	<script src="../../bower_components/shadydom/shadydom.min.js"></script>
	<script src="../../bower_components/shadycss/shadycss.min.js"></script> 
	<script src="../../bower_components/custom-elements/custom-elements.min.js"></script>
	<!-- Еще три полифила для адекватной работы Shadow DOM & Custom Elements V.1 -->



	<link rel="import" id="link" href="import.html"> 
	<!-- Импорты поддерживаются при помощи webcomponents-lite.min.js -->
</head>
<body>
	<div class="div">
		<h2>Shadow red test</h2>
	</div>

		<project-case>
			Тест
		</project-case>

	</body>
	</html>