<style>
    project-info-block {
        display: block;
        padding: 18px 0 4px 0;
        width: 280px;
        font: 13px/18px globerregular;
        vertical-align: top;
    }
    
    .project-info-block__header {
        color: #909090;
        font: 12px/24px globersemibold;
        text-transform: uppercase;
        position: relative;
    }
    
    .sidebar-info-main__link {
        color: inherit;
        text-decoration: none;
    }
</style>
<template id="project-info-block__tmpl">
    <h3 class="project-info-block__header a project-info-block__link">
            <a href="#" class="sidebar-info-main__link"><span></span></a>
        </h3>
</template>

<script>
    "use strict";
    var thatDoc = document;
    var thisDoc = (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;

    var ProjectInfoBlockTemplate = thisDoc.querySelector('#project-info-block__tmpl');
    class ProjectInfoBlock extends HTMLElement {

        constructor() {
            super();
        }

        connectedCallback() {
            this.insertBefore(ProjectInfoBlockTemplate.content.cloneNode(true), this.firstChild);

            this.querySelector('.sidebar-info-main__link span').innerHTML = this.getAttribute('title');
        }

        adoptedCallback() {}
    }

    customElements.define('project-info-block', ProjectInfoBlock);
</script>
