<style>
    project-info-item {
        position: relative;
        width: 280px;
        display: block;
        border-bottom: 1px dotted #D6D6D6;
        padding: 6px 0 1px 0;
    }
    project-info-item img {
        display: inline-block;
        position: relative;
        right: 0;
        height: 16px;
        width: 16px;
    }
</style>
<style>
        .project-info-item__value, .project-info-item__variable {
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font: 13px/18px globerregular;
            vertical-align: top;
        } 
        
        .project-info-item__variable {
            width: 127px;
        }
        .project-info-item__value{
            width: 149px;
            color: #00418A;
        }
        .project-info-item__value--img {
            width: 130px;
        }
    </style>  
<template id="project-info-item__tmpl">
    <div class="project-info-item__variable"></div>
    <div class="project-info-item__value"></div>
    
</template>

<script>
    "use strict";
    var thatDoc = document;
    var thisDoc = (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;
    var ProjectInfoItemTemplate = thisDoc.querySelector('#project-info-item__tmpl');

    class ProjectInfoItem extends HTMLElement {

        constructor() {
            super()
            this.appendChild(ProjectInfoItemTemplate.content.cloneNode(true));
            this.querySelector('.project-info-item__variable').innerHTML = this.getAttribute('title');
            this.querySelector('.project-info-item__value').innerHTML = this.getAttribute('value');
            var itemValue = this.querySelector('.project-info-item__value');
            var itemImgLink = this.getAttribute('img');
            if (itemImgLink) {
                var a = document.createElement('img');
                a.setAttribute('src', itemImgLink);
                a.setAttribute('alt', "");
                this.appendChild(a);
                itemValue.classList.add("project-info-item__value--img");
            }
        }

        connectedCallback() {
        }
        
        adoptedCallback() {
        }
    }

    customElements.define('project-info-item', ProjectInfoItem);




</script>