<style>
    sidebar-text {
        font: 13px/18px globerregular;
        vertical-align: top;
        padding-top: 18px;
        display: block;
    }
    
    .sidebar-text__header {
        font-family: globerbold;
        line-height: 24px;
    }
</style>

<template id="sidebar-text__tmpl">
    <h3 class="sidebar-text__header"></h3>
</template>

<script>
    "use strict";
    var thatDoc = document;
    var thisDoc = (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;
    var SidebarTextTemplate = thisDoc.querySelector('#sidebar-text__tmpl');

    class SidebarText extends HTMLElement {

        constructor() {
            super();
        }

        connectedCallback() {
            this.insertBefore(SidebarTextTemplate.content.cloneNode(true), this.firstChild);

            this.querySelector('.sidebar-text__header').innerHTML = this.getAttribute('header');
        }

        adoptedCallback() {}
    }

    customElements.define('sidebar-text', SidebarText);
</script>
