<!--Style CSS-->
<style>
    tree-item {
        display: block;
        position: relative;
    }
    
    .tree-item__parent {
        cursor: pointer;
    }
    
    .tree-item__parent .tree-item__arrow {
        position: absolute;
        border-bottom: 4px solid transparent;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-top: 4px solid black;
        top: 7px;
        left: -12px;
        transition: all 0.2s;
    }
    
    .tree-item__level-1 {
        font: 13px/24px globerbold;
    }
    
    .tree-item__level-2 {
        font: 13px/24px globerregular;
        border-bottom: 1px dotted #D6D6D6;
    }
    
    .tree-item__level-3 {
        font: 12px/24px globerregular;
        border-bottom: 1px dotted #D6D6D6;
    }
</style>


<!--Template-->
<template id="tree-item__tmpl">
    <div class="tree-item__row">
        <span class="tree-item__arrow"></span>
        <span class="tree-item__name"></span>
        <span class="tree-item__description"></span>
    </div>
</template>


<!--Script-->
<script>
    "use strict";
    var thatDoc = document;
    var thisDoc = (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;

    var TreeItemTemplate = thisDoc.querySelector('#tree-item__tmpl');




    class TreeItem extends HTMLElement {

        constructor() {
            super()
            this.insertBefore(TreeItemTemplate.content.cloneNode(true), this.firstChild);
        }

        connectedCallback() {
            var nestingLevel = this.getAttribute("level");
            if (nestingLevel) {
                if (nestingLevel <= 3) {
                    this.querySelector('.tree-item__row').classList.add("tree-item__level-" + nestingLevel);
                } else {
                    this.querySelector('.tree-item__row').classList.add("tree-item__level-3");
                }
            }




            this.querySelector('.tree-item__name').innerHTML = this.getAttribute('title');
            this.querySelector('.tree-item__description').innerHTML = this.getAttribute('description');
            if (this.childNodes.length > 3) {
                this.querySelector('.tree-item__row').classList.add("tree-item__parent");
                var treeItemCollection = this.querySelectorAll('tree-item');
                this.querySelector('.tree-item__row').addEventListener("click", () => {
                    var a = this.querySelector('.tree-item__arrow');
                    if (this.querySelector('.tree-item__arrow').style.transform == 'rotate(-90deg)') {
                        a.style.transform = 'rotate(0)';
                        a.style.left = '-12px';
                        a.style.top = '7px';

                        console.log(treeItemCollection.length);

                        for (var i = 0; i < treeItemCollection.length; i++) {
                            this.getElementsByTagName("tree-item")[i].style.display = "block";
                        }
                    } else {
                        a.style.transform = 'rotate(-90deg)';
                        a.style.left = '-10px';
                        a.style.top = '5px';
                        for (var i = 0; i < treeItemCollection.length; i++) {
                            this.getElementsByTagName("tree-item")[i].style.display = "none";
                        }
                    }


                    // treeItemCollection.style.display = 'none';
                    console.log(treeItemCollection);


                });
            }

        }

        adoptedCallback() {

        }
    }

    customElements.define('tree-item', TreeItem);
</script>
