<!--Style CSS-->
<style>
    tree-item {
        display: block;
        position: relative;
    }
    
    .tree-item__parent {
        cursor: pointer;
    }
    
    .tree-item__parent .tree-item__arrow:before {
        position: absolute;
        content: "";
        border-bottom: 4px solid transparent;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-top: 4px solid black;
        top: 7px;
        left: -12px;
    }
    
    .tree-item__level-1 {
        font: 13px/24px globerbold;
    }
    
    .tree-item__level-2 {
        font: 13px/24px globerregular;
    }
    
    .tree-item__level-3 {
        font: 12px/24px globerregular;
    }
</style>


<!--Template-->
<template id="tree-item__tmpl">
    <div class="tree-item__row">
        <span class="tree-item__arrow"></span>
        <span class="tree-item__name"></span>
        <span class="tree-item__description"></span>
    </div>
</template>


<!--Script-->
<script>
    "use strict";
    var thatDoc = document;
    var thisDoc = (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;

    var TreeItemTemplate = thisDoc.querySelector('#tree-item__tmpl');




    class TreeItem extends HTMLElement {

        constructor() {
            super()
            this.insertBefore(TreeItemTemplate.content.cloneNode(true), this.firstChild);
        }

        connectedCallback() {
            var nestingLevel = this.getAttribute("level");
            if (nestingLevel) {
                if (nestingLevel <= 3) {
                    this.querySelector('.tree-item__row').classList.add("tree-item__level-" + nestingLevel);


                    var treeItemCollection = this.querySelectorAll('tree-item');

                    this.addEventListener("click", () => {

                        // treeItemCollection.style.display = 'none';
                        console.log("s");

                    });


                } else {
                    this.querySelector('.tree-item__row').classList.add("tree-item__level-3");
                }
            }




            this.querySelector('.tree-item__name').innerHTML = this.getAttribute('title');
            this.querySelector('.tree-item__description').innerHTML = this.getAttribute('description');
            if (this.childNodes.length > 3) {
                console.log(this.childNodes.length);
                this.querySelector('.tree-item__row').classList.add("tree-item__parent");
            }

        }

        adoptedCallback() {

        }
    }

    customElements.define('tree-item', TreeItem);
</script>