<link rel="import" href="sidebar-textinput.component.html">
<link rel="import" href="sidebar-textarea.component.html">
<link rel="import" href="sidebar-header.component.html">
<link rel="import" href="sidebar-info-select.component.html">
<link rel="import" href="sidebar-nav-link.component.html">


<!--Style CSS-->
<style>
    sidebar-wrapp {
        width: 320px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-left: 1px solid #eee;
        border-right: 1px solid #eee;
        border-top: 1px solid #eee;
/*        min-height: 93.5vh;*/
    }
</style>


<!--Template-->
<template id="sidebar-wrapp__tmpl">

</template>


<!--Script-->
<script>
    "use strict";
    var thatDoc = document;
    var thisDoc = (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;

    var SidebarWrappTemplate = thisDoc.querySelector('#sidebar-wrapp__tmpl');

    class SidebarWrapp extends HTMLElement {

        constructor() {
            super();
        }

        connectedCallback() {
            this.appendChild(SidebarWrappTemplate.content.cloneNode(true));

        }

        adoptedCallback() {

        }
    }

    customElements.define('sidebar-wrapp', SidebarWrapp);

</script>
