<!--Атрибуты компонента:
title=" project? "
technology=" text "
input=" number of input features "
time=" amount of time "
output=" number of output features "
detailed     - детализиовано и связано
blocked      - есть блокер в дочерних фичах
influence=" high or medium"
-->
<!--Style CSS -->
<style>
    feature-card-header {
        height: 23px;
        border-bottom: 1px solid #F4F4F4;
        width: 100%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -ms-align-items: center;
        align-items: center;
    }
    .feature-card--header__name {
        color: #000;
/*        width: 65px;*/
        height: 100%;
        border-right: 1px solid #DCDCDC;
        display: -webkit-inline-flex;
        display: -moz-inline-flex;
        display: -ms-inline-flex;
        display: -o-inline-flex;
        display: inline-flex;
        -ms-align-items: center;
        align-items: center;
        justify-content: center;
        font: 10px 'globersemibold';
        text-transform: uppercase;
        padding-top: 2px;
        padding-left: 10px;
        padding-right: 3px;
    }
    .feature-card--header__text {
        font: 11px 'globerregular';
        color: #676767;
        padding-left: 4px;
    }
    .card--header__time {
        display: -webkit-inline-flex;
        display: -moz-inline-flex;
        display: -ms-inline-flex;
        display: -o-inline-flex;
        display: inline-flex;
        min-width: 106px;
        height: 100%;
        margin-right: 12px;
        margin-left: auto;
        -ms-align-items: center;
        align-items: center;
    }
    .card--header__input-features {
        height: 15px;
        min-width: 20px;
        display: -webkit-inline-flex;
        display: -moz-inline-flex;
        display: -ms-inline-flex;
        display: -o-inline-flex;
        display: inline-flex;
        justify-content: center;
        -ms-align-items: center;
        align-items: center;
        font: 10px 'globerbold';
        padding-top: 4px;
        border: 1px solid #E0E0E0;
        padding-left: 4px;
        padding-right: 4px;
        color: #c6c6c6;
        position: relative;
    }
    .card-header__empty-up {
        display: inline-block;
        height: 15px;
        width: 13px;
        border-top: 1px solid #E0E0E0;
    }
    .card-header__empty-down {
        display: inline-block;
        height: 15px;
        width: 13px;
        border-bottom: 1px solid #E0E0E0;
    }
    .card--header__full-time {
        height: 15px;
        min-width: 40px;
        display: -webkit-inline-flex;
        display: -moz-inline-flex;
        display: -ms-inline-flex;
        display: -o-inline-flex;
        display: inline-flex;
        justify-content: center;
        -ms-align-items: center;
        align-items: center;
        font: 10px 'globerbold';
        padding-top: 4px;
        padding-left: 4px;
        padding-right: 4px;
        border: 1px solid #E0E0E0;
        color: #c6c6c6;
    }
    .card--header__output-features {
        height: 15px;
        min-width: 20px;
        display: -webkit-inline-flex;
        display: -moz-inline-flex;
        display: -ms-inline-flex;
        display: -o-inline-flex;
        display: inline-flex;
        justify-content: center;
        -ms-align-items: center;
        align-items: center;
        font: 10px 'globerbold';
        padding-top: 4px;
        padding-left: 4px;
        padding-right: 4px;
        border: 1px solid #E0E0E0;
        color: #c6c6c6;
    }
</style>


<!--Template-->
<template id="feature-card--header__tmpl">
    <span class="feature-card--header__name"></span>
    <span class="feature-card--header__text"></span>
    <div class="card--header__time">
        <div class="card--header__input-features"></div>
        <div class="card-header__empty-up"></div>
        <div class="card--header__full-time"></div>
        <div class="card-header__empty-down"></div>
        <div class="card--header__output-features">
        </div>
    </div>
</template>


<!--Script-->
<script>

    "use strict";
    var thatDoc = document;
    var thisDoc = (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;

    var FeatureCardHeaderTemplate = thisDoc.querySelector('#feature-card--header__tmpl');
    var FeatureCardFeatureHeaderTemplateClone = FeatureCardHeaderTemplate.content;

    class FeatureCardHeader extends HTMLElement {

        static get observedAttributes() {
            return ['detailed', 'blocked'];
        }

        get detailed() {
            return this.hasAttribute('detailed');
        }

        get blocked() {
            return this.hasAttribute('blocked');
        }


        constructor() {
            super();
        }

        connectedCallback() {
            this.appendChild(FeatureCardHeaderTemplate.content.cloneNode(true));

            this.querySelector('.feature-card--header__name').innerHTML = this.getAttribute('title');
            this.querySelector('.feature-card--header__text').innerHTML = this.getAttribute('technology');
            this.querySelector('.card--header__input-features').innerHTML = this.getAttribute('input');
            this.querySelector('.card--header__full-time').innerHTML = this.getAttribute('time');
            this.querySelector('.card--header__output-features').innerHTML = this.getAttribute('output');

            var innerInputText = this.querySelector('.feature-card-description');
            var inputFeatures = this.querySelector('.card--header__input-features');
            var fullTime = this.querySelector('.card--header__full-time');
            var outputFeatures = this.querySelector('.card--header__output-features');
            var influenceFeatures = this.getAttribute('influence');

            if ((this.getAttribute('output') == '') || (this.hasAttribute('output') == false)) {
                outputFeatures.innerHTML = '-';
            }

            if (this.detailed) {
                fullTime.style.color = '#000';
                inputFeatures.style.color = '#000';
                if (this.blocked) {
                    fullTime.style.borderColor = '#D90000';
                }
                if (this.hasAttribute('influence')) {
                    switch (influenceFeatures.trim()) {
                        case 'high':
                            outputFeatures.style.color = '#D90000';
                            break;
                        case 'medium':
                            outputFeatures.style.color = 'orange';
                            break;
                        case '':
                            outputFeatures.style.color = '#000';
                            break;
                    }
                } else {
                    outputFeatures.style.color = '#000';
                }
            }
        }

        adoptedCallback() {

        }
    }

    customElements.define('feature-card-header', FeatureCardHeader);

</script>
