<link rel="import" href="requirement-card-header.component.html">
<link rel="import" href="requirement-card-footer.component.html">
<link rel="import" href="card-text.component.html">
<!--Style CSS -->
<style>
    requirement-card {
        width: 100%;
        border: 1px solid #E8E8E8;
/*        border-left: 2px solid #84E2E7;*/
        margin-top: 25px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        position: relative;
    }
    requirement-column-parent requirement-card {

        margin-top: 10px;
/*        margin-bottom: 27px;*/
    }
    requirement-card:after {
        background: linear-gradient(to bottom, #D90000 33%,#84E2E7 33%, #84E2E7 66%, #4F50B7 33%);
        position: absolute;
        content: '';
/*        height: 2px;*/
        width: 2px;
        left: 0;
        bottom: 0;
        top: 0;
    }
</style>


<!--Template-->
<template id="requirement-card__tmpl">

</template>


<!--Script-->
<script>

    "use strict";
    var thatDoc = document;
    var thisDoc = (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;

    var RequirementCardTemplate = thisDoc.querySelector('#requirement-card__tmpl');
    var RequirementCardTemplateClone = RequirementCardTemplate.content;

    class RequirementCard extends HTMLElement {

        constructor() {
            super();
        }

        connectedCallback() {
            this.appendChild(RequirementCardTemplate.content.cloneNode(true));
        }

        adoptedCallback() {

        }
    }

    customElements.define('requirement-card', RequirementCard);

</script>
