<link rel="import" href="requirement-card-header.component.html">
<link rel="import" href="requirement-card-footer.component.html">
<link rel="import" href="card-text.component.html">
<!--Style CSS -->
<style>
    requirement-card {
        width: 100%;
        border: 1px solid #E8E8E8;
/*        border-left: 2px solid #84E2E7;*/
        margin-top: 25px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        position: relative;
    }
    requirement-column-parent requirement-card {

        margin-top: 10px;
/*        margin-bottom: 27px;*/
    }
    .card-border {
        /*background-image: linear-gradient(to bottom, #D90000 33%,#84E2E7 33%, #84E2E7 66%, #4F50B7 33%);*/
        background-image: linear-gradient(to bottom, #D90000 50%,#84E2E7 50%);
        position: absolute;
        content: '';
/*        height: 2px;*/
        width: 2px;
        left: 0;
        bottom: 0;
        top: 0;
    }
</style>


<!--Template-->
<template id="requirement-card__tmpl">
    <div class="card-border"></div>
</template>


<!--Script-->
<script>

    "use strict";
    var thatDoc = document;
    var thisDoc = (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;

    var RequirementCardTemplate = thisDoc.querySelector('#requirement-card__tmpl');
    var RequirementCardTemplateClone = RequirementCardTemplate.content;

    class RequirementCard extends HTMLElement {

        constructor() {
            super();
        }

        connectedCallback() {
            this.appendChild(RequirementCardTemplate.content.cloneNode(true));
            var cardBorder = this.querySelector('.card-border');
            // var color = ['red', 'green', 'black', 'blue', '#84E2E7'];
            var technologyColor = {
                "development":"red",
                "disign":"green",
                "management":"blue"
            }

            // Linear gradient
            var technologyNumber = 3; 
            var borderColor = '';
            // var percent = Math.round(100/technologyNumber);
            var percent = 100/technologyNumber;
            var color = ['green','yellow','red'];
            var colorBlock = '';
            // for (var i = 0; i < technologyNumber; i++) {
                // if(i=0) {
                //     borderColor += color[i] + ' '+ percent+',';
                // } 
                
                // console.log(color);
                // borderColor += color[i] + ' '+ percent+',';
 
            // }
            // borderColor = borderColor.slice(0, -1);
            console.log(colorBlock);

            // cardBorder.style.backgroundImage = 'linear-gradient(to bottom,' + borderColor + ')';
            
        }

        adoptedCallback() {

        }
    }

    customElements.define('requirement-card', RequirementCard);

</script>
