<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="style.css">
<link rel="import" href="../../index.html">




<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>




    <create-test>
        <step-header title="VVR Roadmap" subtitle="Отчет по проекту">
        </step-header>
        <step-content>
            <div class="roadmap__wrapper">
                <div class="roadmap__year">2016</div>
                <div class="roadmap__row-wrapper">
                    <div class="roadmap__row roadmap__row-vvr">
                        <h3 class="roadmap__row-header">VVR</h3>
                        <div class="roadmap__time-grahp" id="planned">

                        </div>
                        <div class="roadmap__time-grahp" id="outcome">
                            <div class="roadmap__milestones">
                                <img src="box-3.png" alt="" class="milestones-point">

                                <!--<span class="milestones-date milestones-date--down">14.04</span>-->
                            </div>
                        </div>
                        <!--<div class="roadmap__time-grahp">
                            <div class="roadmap__milestones">
                                <img src="box-3.png" alt="" class="milestones-point milestones-point--estimated-fact">
                                <img src="box-2.png" alt="" class="milestones-point milestones-point--estimated">
                                <img src="box-4.png" alt="" class="milestones-point milestones-point--fact-late">

                        <span class="milestones-date milestones-date--down">14.04</span>

                    </div>
                </div>-->
                    </div>
                    <div class="roadmap__row roadmap__row--item">
                        <div class="roadmap__row-header-block">
                            <h3 class="roadmap__row-item-header">Business</h3>
                        </div>
                        <div class="roadmap__task-line">
                            <div class="roadmap__task-item">Task item thing</div>
                            <div class="roadmap__task-item">Task item</div>
                        </div>
                        <div class="roadmap__task-line">
                            <div class="roadmap__task-item">Task item</div>
                            <div class="roadmap__task-item">Task item description</div>
                        </div>
                        <div class="roadmap__task-line">
                            <div class="roadmap__task-item">Task item</div>
                            <div class="roadmap__task-item">Task item some</div>
                        </div>
                    </div>
                    <div class="roadmap__row roadmap__row--item">
                        <div class="roadmap__row-header-block">
                            <h3 class="roadmap__row-item-header">development</h3>
                        </div>
                        <div class="roadmap__task-line">
                            <div class="roadmap__task-item">Task item any</div>
                            <div class="roadmap__task-item">Task item</div>
                        </div>
                        <div class="roadmap__task-line">
                            <div class="roadmap__task-item">Task item</div>
                            <div class="roadmap__task-item">Task item word</div>
                        </div>
                    </div>
                    <div class="roadmap__row roadmap__row--item">
                        <div class="roadmap__row-header-block">
                            <h3 class="roadmap__row-item-header">design</h3>
                        </div>
                        <div class="roadmap__task-line">
                            <div class="roadmap__task-item">Task item when</div>
                            <div class="roadmap__task-item">Task item</div>
                        </div>
                        <div class="roadmap__task-line">
                            <div class="roadmap__task-item">Task item</div>
                            <div class="roadmap__task-item">Task item execute</div>
                        </div>
                        <div class="roadmap__task-line">
                            <div class="roadmap__task-item">Task item</div>
                            <div class="roadmap__task-item">Task item</div>
                        </div>
                        <div class="roadmap__task-line">
                            <div class="roadmap__task-item">Task item conversetion</div>
                            <div class="roadmap__task-item">Task item</div>
                        </div>
                        <div class="roadmap__task-line">
                            <div class="roadmap__task-item">Task item</div>
                            <div class="roadmap__task-item">Task item</div>
                        </div>
                    </div>
                </div>
                <div class="roadmap__calendar">
                    <div class="roadmap__month-block">
                        <h3 class="roadmap__month-name">Янв</h3>
                    </div>
                    <div class="roadmap__month-block">
                        <h3 class="roadmap__month-name">Фев</h3>
                    </div>
                    <div class="roadmap__month-block">
                        <h3 class="roadmap__month-name">Март</h3>
                    </div>
                    <div class="roadmap__month-block">
                        <h3 class="roadmap__month-name">Апр</h3>
                    </div>
                    <div class="roadmap__month-block">
                        <h3 class="roadmap__month-name">Май</h3>
                    </div>
                    <div class="roadmap__month-block">
                        <h3 class="roadmap__month-name">Июнь</h3>
                    </div>
                    <div class="roadmap__month-block">
                        <h3 class="roadmap__month-name">Июль</h3>
                    </div>
                    <div class="roadmap__month-block">
                        <h3 class="roadmap__month-name">Авг</h3>
                    </div>
                    <div class="roadmap__month-block">
                        <h3 class="roadmap__month-name">Сен</h3>
                    </div>
                    <div class="roadmap__month-block">
                        <h3 class="roadmap__month-name">Окс</h3>
                    </div>
                    <div class="roadmap__month-block">
                        <h3 class="roadmap__month-name">Нояб</h3>
                    </div>
                    <div class="roadmap__month-block">
                        <h3 class="roadmap__month-name">Дек</h3>
                    </div>
                </div>
            </div>
            <div class="roadmap__helper">
                <div class="roadmap__helper-row">
                    <img src="box-1.png" alt="" class="roadmap__helper-g">
                    <p class="roadmap__helper-text">Планируемое время</p>
                </div>
                <div class="roadmap__helper-row">
                    <img src="box-2.png" alt="" class="roadmap__helper-g">
                    <p class="roadmap__helper-text">Оценочное время+фактическое</p>
                </div>
                <div class="roadmap__helper-row">
                    <img src="box-3.png" alt="" class="roadmap__helper-g">
                    <p class="roadmap__helper-text">Оценочное время</p>
                </div>
                <div class="roadmap__helper-row">
                    <img src="box-4.png" alt="" class="roadmap__helper-g">
                    <p class="roadmap__helper-text">Фактическое с опозданием</p>
                </div>
            </div>
        </step-content>
    </create-test>
    <script>
        var roadmapRowHeader = document.querySelectorAll('.roadmap__row-header-block');
        for (var i = 0; i < roadmapRowHeader.length; i++) {
            roadmapRowHeader[i].style.width = getComputedStyle(roadmapRowHeader[i]).height;
        }
    </script>




    <script>
        let data = [{

            "milestones": [{

                "title": "Alpha release",
                "plannedDate": "14-02-2016",
                "estimatedDate": "10-02-2016"
            }, {

                "title": "test release",
                "plannedDate": "14-11-2016",
                "estimatedDate": "10-12-2016"
            }, {
                "title": "Beta release",
                "plannedDate": "22-06-2016",
                "estimatedDate": "13-07-2016"
            }, {
                "title": "Version 2.0",
                "plannedDate": "19-09-2016",
                "estimatedDate": ""
            }],
        }, {
            "requirements": [{
                "business": [{
                    "title": "Анадиз итераций",
                    "startDate": "02-01-2016",
                    "endDate": "03-02-2016",
                    "row": 1
                }, {
                    "title": "Автоматизация",
                    "startDate": "08-02-2016",
                    "endDate": "10-04-2016",
                    "row": 1
                }],
                "development": [{
                    "title": "Анадиз итераций",
                    "startDate": "10-04-2016",
                    "endDate": "28-05-2016",
                    "row": 1
                }, {
                    "title": "Анадиз итераций",
                    "startDate": "28-05-2016",
                    "endDate": "09-06-2016",
                    "row": 1
                }, {
                    "title": "Автоматизация",
                    "startDate": "28-05-2016",
                    "endDate": "18-06-2016",
                    "row": 2
                }, {
                    "title": "Анадиз рынка",
                    "startDate": "03-06-2016",
                    "endDate": "13-07-2016",
                    "row": 3
                }],
                "designe": [{
                    "title": "Анадиз итераций",
                    "startDate": "29-04-2016",
                    "endDate": "28-05-2016",
                    "row": 1
                }, {
                    "title": "Автоматизация процесса",
                    "startDate": "03-05-2016",
                    "endDate": "13-07-2016",
                    "row": 1
                }, {
                    "title": "Анадиз итераций",
                    "endDate": "19-09-2016",
                    "row": 1
                }, {
                    "title": "Дизайн",
                    "endDate": "19-09-2016",
                    "row": 2
                }]
            }]
        }];

        let whole = document.querySelector('.roadmap__calendar').offsetWidth;
        let part = document.querySelector('.roadmap__month-block').offsetWidth;


        //ВАЖНО: месяц, указанный в данных на единицу больше, чем выдаёт new Date()
        function dayPercentage(day, daysInMonth) {
            return day / daysInMonth;
        }

        function lastDayOfMonth(year, month) {
            //вычисляет какой день последний в месяце. Год указан для определения високосных годов
            let date = new Date(year, month, 0);
            return date.getDate();
        }

        let milestones = data[0].milestones;
        let pContainer = document.querySelector('#planned');
        let eContainer = document.querySelector('#outcome');
        milestones.forEach((m, index) => {
            let planned = m.plannedDate.split('-').map(i => parseInt(i)); //  DD/MM/YY int
            let est = m.estimatedDate.split('-').map(i => parseInt(i)); //  DD/MM/YY int
            let percentPlanned = getPercentage(planned[0], planned[1], planned[2])
            let percentEst = getPercentage(est[0], est[1], est[2]);
            let dateP = [planned[0], planned[1]].join('.');
            let dateE = [est[0], est[1]].join('.');
            let title = m.title;
            placeDot(percentPlanned, dateP, title, pContainer, index);
            if (m.estimatedDate) placeDot(percentEst, dateE, title, eContainer, index);
        });

        function placeDot(percentage, date, title, container, i) {
            let dot = document.createElement('div');
            dot.className = 'roadmap__milestones';
            dot.id = i;
            let span = document.createElement('span');
            span.className = 'milestones-date';
            span.innerHTML = date;
            let h3 = document.createElement('h3');
            h3.className = 'milestones-name';
            h3.innerHTML = title;
            let img = document.createElement('img');
            img.src = 'box-1.png';
            img.className = "milestones-point";
            dot.appendChild(span);
            dot.appendChild(img);
            dot.appendChild(h3);
            container.appendChild(dot);
            let correction = 100 * document.querySelector('.roadmap__milestones').offsetWidth / whole;
            dot.style.left = (100 * percentage - correction / 2) + '%';
            dot.style.position = 'absolute';

        }

        function getPercentage(day, month, year) {
            // 1/24 - расстояние до начала места (убран), 1/12 - размер одной клетки, 
            return (

                1 / 12 * ((month - 1) + dayPercentage(day, lastDayOfMonth(year, month)))
            )

        }
    </script>




</body>

</html>
