
<!--Style CSS-->
<style>
    step-content {
        width: 100%;
        display: inline-block;
        padding: 0 20px;
        height: auto;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-wrap: wrap;
    }
</style>


<!--Template-->
<template id="step-content__tmpl">

</template>



<!--Script-->
<script>
    "use strict";
    var thatDoc = document;
    var thisDoc = (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;

    var StepContentTemplate = thisDoc.querySelector('#step-content__tmpl');

    class StepContent extends HTMLElement {

        constructor() {
            super()
            this.appendChild(StepContentTemplate.content.cloneNode(true));
        }

        connectedCallback() {

        }

        adoptedCallback() {

        }
    }

    customElements.define('step-content', StepContent);

</script>
