
<!-- Style CSS-->
<style>

    doing-wrapp {
        display: -webkit-inline-flex;
        display: -moz-inline-flex;
        display: -ms-inline-flex;
        display: -o-inline-flex;
        display: inline-flex;
/*        min-width: 320px;*/
        margin-right: 7px;
/*        justify-content: flex-end;*/
    }

</style>



<!--Template-->
<template id="doing-wrapp__tmpl">

</template>


<!--Script-->
<script>
    "use strict";
    var thatDoc = document;
    var thisDoc = (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;

    var DoingWrappTemplate = thisDoc.querySelector('#doing-wrapp__tmpl');

    class DoingWrapp extends HTMLElement {

        constructor() {
            super();
        }

        connectedCallback() {
            this.appendChild(DoingWrappTemplate.content.cloneNode(true));

            var doingCollection = thatDoc.querySelectorAll('doing-wrapp');
            var min = doingCollection[0].childElementCount;
            var max = min;
            for (var i = 1; i < doingCollection.length; ++i) {
                if (doingCollection[i].childElementCount > max) max = doingCollection[i].childElementCount;
                if (doingCollection[i].childElementCount < min) min = doingCollection[i].childElementCount;
            }
            var widthDoing = (320*max) + (7*max) +'px';

            for (let i = 0; i < doingCollection.length; i++) {
                this.style.width = widthDoing;
            }
        }

        adoptedCallback() {

        }
    }

    customElements.define('doing-wrapp', DoingWrapp);

</script>
