
<!-- Style CSS-->
<style>

    done-wrapp {
       display: -webkit-inline-flex;
       display: -moz-inline-flex;
       display: -ms-inline-flex;
       display: -o-inline-flex;
       display: inline-flex;
/*        min-width: 320px;*/
        margin-right: 7px;
/*        justify-content: flex-end;*/
    }

</style>



<!--Template-->
<template id="done-wrapp__tmpl">

</template>


<!--Script-->
<script>
    "use strict";
    var thatDoc = document;
    var thisDoc = (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;

    var DoneWrappTemplate = thisDoc.querySelector('#done-wrapp__tmpl');

    class DoneWrapp extends HTMLElement {

        constructor() {
            super();
        }

        connectedCallback() {
            this.appendChild(DoneWrappTemplate.content.cloneNode(true));

            var doneCollection = thatDoc.querySelectorAll('done-wrapp');
            var min = doneCollection[0].childElementCount;
            var max = min;
            for (var i = 1; i < doneCollection.length; ++i) {
                if (doneCollection[i].childElementCount > max) max = doneCollection[i].childElementCount;
                if (doneCollection[i].childElementCount < min) min = doneCollection[i].childElementCount;
            }
            var widthDone = (320*max) + (7*max) +'px';

            for (let i = 0; i < doneCollection.length; i++) {
                this.style.width = widthDone;
            }
        }

        adoptedCallback() {

        }
    }

    customElements.define('done-wrapp', DoneWrapp);

</script>
