<link rel="import" href="sprint-header.component.html">
<link rel="import" href="person-tasks-wrapp.component.html">
<link rel="import" href="kanban-card-wrapp.component.html">
<link rel="import" href="todo-wrapp.component.html">
<link rel="import" href="doing-wrapp.component.html">
<link rel="import" href="review-wrapp.component.html">
<link rel="import" href="done-wrapp.component.html">
<link rel="import" href="sprint-stage.component.html">
<!-- Style CSS-->
<style>

    kanban-desk {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        padding-left: 12px;
/*        padding-right: 12px;*/
        padding-bottom: 35px;
        background-color: #E0F0F8;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;

    }
</style>



<!--Template-->
<template id="kanban-desk__tmpl">

</template>


<!--Script-->
<script>
    "use strict";
    var thatDoc = document;
    var thisDoc = (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;

    var KanbanDeskTemplate = thisDoc.querySelector('#kanban-desk__tmpl');

    class KanbanDesk extends HTMLElement {

        constructor() {
            super();
        }

        connectedCallback() {
            this.appendChild(KanbanDeskTemplate.content.cloneNode(true));
        }

        adoptedCallback() {

        }
    }

    customElements.define('kanban-desk', KanbanDesk);

</script>
