<!-- Style CSS-->
<style>
    person-task-wrapp {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        position: relative;
        padding-top: 40px;
        margin-bottom: 38px;
        overflow: hidden;
        margin-top: 14px;
        transition: all 0.5s;
    }
    .person-task-wrapp {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -ms-align-items: center;
        align-items: center;
        height: 80px;
        width: 100%;
        background-color: #CFDFE7;
        height: 40px;
        padding-left: 20px;
        position: absolute;
        top: 0;
    }
    .person-task-wrapp__arrow {
        width: 14px;
        display: inline-block;
        height: 6px;
        background-image: url(kanban-img/person-task-arrow.png);
        background-position: center center;
        -webkit-background-size: cover;
        background-size: cover;
    }
    .person-task-wrapp__arrow:hover {
        cursor: pointer;
    }
    .person-task-wrapp__name {
        font: 16px 'globerbold';
        line-height: 24px;
        margin: auto;
    }
</style>



<!--Template-->
<template id="person-task-wrapp__tmpl">
    <div class="person-task-wrapp">
        <span class="person-task-wrapp__arrow"></span>
        <h3 class="person-task-wrapp__name"></h3>
    </div>
</template>


<!--Script-->
<script>
    "use strict";
    var thatDoc = document;
    var thisDoc = (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;

    var PersonTaskWrappTemplate = thisDoc.querySelector('#person-task-wrapp__tmpl');

    class PersonTaskWrapp extends HTMLElement {

        constructor() {
            super()
            this.appendChild(PersonTaskWrappTemplate.content.cloneNode(true));
        }

        connectedCallback() {
            this.querySelector('.person-task-wrapp__name').innerHTML = this.getAttribute('name');

            this.querySelector('.person-task-wrapp__arrow').addEventListener("click", () => {

                if(this.style.height == 'auto') {
                    this.style.height = '0px';
                } else {
                    this.style.height = 'auto';
                }

            });
        }

        adoptedCallback() {

        }
    }

    customElements.define('person-task-wrapp', PersonTaskWrapp);

</script>
