
<!-- Style CSS-->
<style>

    review-wrapp {
        display: -webkit-inline-flex;
        display: -moz-inline-flex;
        display: -ms-inline-flex;
        display: -o-inline-flex;
        display: inline-flex;
/*        min-width: 320px;*/
        margin-right: 7px;
        justify-content: flex-end;
    }

</style>



<!--Template-->
<template id="review-wrapp__tmpl">

</template>


<!--Script-->
<script>
    "use strict";
    var thatDoc = document;
    var thisDoc = (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;

    var ReviewWrappTemplate = thisDoc.querySelector('#review-wrapp__tmpl');

    class ReviewWrapp extends HTMLElement {

        constructor() {
            super();
        }

        connectedCallback() {
            this.appendChild(ReviewWrappTemplate.content.cloneNode(true));

            var reviewCollection = thatDoc.querySelectorAll('review-wrapp');
            var min = reviewCollection[0].childElementCount;
            var max = min;
            for (var i = 1; i < reviewCollection.length; ++i) {
                if (reviewCollection[i].childElementCount > max) max = reviewCollection[i].childElementCount;
                if (reviewCollection[i].childElementCount < min) min = reviewCollection[i].childElementCount;
            }
            var widthReview = (320*max) + (7*max) +'px';

            for (let i = 0; i < reviewCollection.length; i++) {
                this.style.width = widthReview;
            }
        }

        adoptedCallback() {

        }
    }

    customElements.define('review-wrapp', ReviewWrapp);

</script>
