
<!-- Style CSS-->
<style>

    review-wrapp {
        display: -webkit-inline-flex;
        display: -moz-inline-flex;
        display: -ms-inline-flex;
        display: -o-inline-flex;
        display: inline-flex;
/*        min-width: 320px;*/
        margin-right: 7px;
    }

</style>



<!--Template-->
<template id="review-wrapp__tmpl">

</template>


<!--Script-->
<script>
    "use strict";
    var thatDoc = document;
    var thisDoc = (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;

    var ReviewWrappTemplate = thisDoc.querySelector('#review-wrapp__tmpl');

    class ReviewWrapp extends HTMLElement {

        constructor() {
            super();
        }

        connectedCallback() {
            this.appendChild(ReviewWrappTemplate.content.cloneNode(true));

            //            this.querySelector('.todo-wrapp__header').innerHTML = this.getAttribute('title');
        }

        adoptedCallback() {

        }
    }

    customElements.define('review-wrapp', ReviewWrapp);

</script>
