
<!-- Style CSS-->
<style>

    sprint-stage {
        display: -webkit-inline-flex;
        display: -moz-inline-flex;
        display: -ms-inline-flex;
        display: -o-inline-flex;
        display: inline-flex;
/*        margin-right: 14px;*/
        height: 40px;
        background-color: #545454;
        color: #fff;
        justify-content: center;
        -ms-align-items: center;
        align-items: center;
        font: 13px 'globerbold';
        box-sizing: border-box;
        text-transform: uppercase;
        margin-right: 10px;
        min-width: 320px;
    }

</style>



<!--Template-->
<template id="sprint-stage__tmpl">

</template>


<!--Script-->
<script>
    "use strict";
    var thatDoc = document;
    var thisDoc = (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;

    var SprintStageTemplate = thisDoc.querySelector('#sprint-stage__tmpl');

    class SprintStage extends HTMLElement {


        constructor() {
            super();
        }

        connectedCallback() {
            this.appendChild(SprintStageTemplate.content.cloneNode(true));

            this.innerHTML = this.getAttribute('title').toLowerCase();

            function del_spaces(str)
            {
                str = str.replace(/\s/g, '');
                return str;
            }
            var innerText = del_spaces(this.innerHTML);

            var todoWrapperCollection = thatDoc.querySelectorAll('todo-wrapp');
            var doingWrapperCollection = thatDoc.querySelectorAll('doing-wrapp');
            var reviewWrapperCollection = thatDoc.querySelectorAll('review-wrapp');
            var doneWrapperCollection = thatDoc.querySelectorAll('done-wrapp');

            var todoWrapperMin = todoWrapperCollection[0].childElementCount;
            var todoWrapperMax = todoWrapperMin;
            for (var i = 1; i < todoWrapperCollection.length; ++i) {
                if (todoWrapperCollection[i].childElementCount > todoWrapperMax) todoWrapperMax = todoWrapperCollection[i].childElementCount;
                if (todoWrapperCollection[i].childElementCount < todoWrapperMin) todoWrapperMin = todoWrapperCollection[i].childElementCount;
            }
            var doingWrapperMin = doingWrapperCollection[0].childElementCount;
            var doingWrapperMax = doingWrapperMin;
            for (var i = 1; i < doingWrapperCollection.length; ++i) {
                if (doingWrapperCollection[i].childElementCount > doingWrapperMax) doingWrapperMax = doingWrapperCollection[i].childElementCount;
                if (doingWrapperCollection[i].childElementCount < doingWrapperMin) doingWrapperMin = doingWrapperCollection[i].childElementCount;
            }
            var reviewWrapperMin = reviewWrapperCollection[0].childElementCount;
            var reviewWrapperMax = reviewWrapperMin;
            for (var i = 1; i < reviewWrapperCollection.length; ++i) {
                if (reviewWrapperCollection[i].childElementCount > reviewWrapperMax) reviewWrapperMax = reviewWrapperCollection[i].childElementCount;
                if (reviewWrapperCollection[i].childElementCount < reviewWrapperMin) reviewWrapperMin = reviewWrapperCollection[i].childElementCount;
            }
            var doneWrapperMin = doneWrapperCollection[0].childElementCount;
            var doneWrapperMax = doneWrapperMin;
            for (var i = 1; i < doneWrapperCollection.length; ++i) {
                if (doneWrapperCollection[i].childElementCount > doneWrapperMax) doneWrapperMax = doneWrapperCollection[i].childElementCount;
                if (doneWrapperCollection[i].childElementCount < doneWrapperMin) doneWrapperMin = doneWrapperCollection[i].childElementCount;
            }


            if (innerText+'-wrapp' == 'todo-wrapp') {
                this.style.width = (320*todoWrapperMax) + (7*(todoWrapperMax-1)) +'px';
            }
            if (innerText+'-wrapp' == 'doing-wrapp') {
                this.style.width = (320*doingWrapperMax) + (7*(doingWrapperMax-1)) +'px';
            }
            if (innerText+'-wrapp' == 'review-wrapp') {
                this.style.width = (320*reviewWrapperMax) + (7*(reviewWrapperMax-1)) +'px';
            }
            if (innerText+'-wrapp' == 'done-wrapp') {
                this.style.width = (320*doneWrapperMax) + (7*(doneWrapperMax-1)) +'px';
            }

        }

        adoptedCallback() {

        }
    }

    customElements.define('sprint-stage', SprintStage);

</script>
