
<!-- Style CSS-->
<style>

    todo-wrapp {
        display: -webkit-inline-flex;
        display: -moz-inline-flex;
        display: -ms-inline-flex;
        display: -o-inline-flex;
        display: inline-flex;
/*        min-width: 320px;*/
        margin-right: 7px;
/*        justify-content: flex-end;*/
    }

</style>



<!--Template-->
<template id="todo-wrapp__tmpl">

</template>


<!--Script-->
<script>
    "use strict";
    var thatDoc = document;
    var thisDoc = (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;

    var TodoWrappTemplate = thisDoc.querySelector('#todo-wrapp__tmpl');

    class TodoWrapp extends HTMLElement {

        constructor() {
            super();
        }

        connectedCallback() {
            this.appendChild(TodoWrappTemplate.content.cloneNode(true));

            var todoCollection = thatDoc.querySelectorAll('todo-wrapp');
            var min = todoCollection[0].childElementCount;
            var max = min;
            for (var i = 1; i < todoCollection.length; ++i) {
                if (todoCollection[i].childElementCount > max) max = todoCollection[i].childElementCount;
                if (todoCollection[i].childElementCount < min) min = todoCollection[i].childElementCount;
            }
            var widthTodo = (320*max) + (7*max) +'px';

            for (let i = 0; i < todoCollection.length; i++) {
                this.style.width = widthTodo;
            }
        }

        adoptedCallback() {

        }
    }

    customElements.define('todo-wrapp', TodoWrapp);

</script>
